execute if score #raycast bb.cs.var matches 0 rotated ~ 0 if block ^ ^ ^-1 minecraft:[color]_carpet unless block ~ ~-1 ~ #boomber:carpet_on_stairs/not_a_solid_ground run function boomber:carpet_on_stairs/event/place/[color]_carpet/found/behind
execute if score #raycast bb.cs.var matches 0 rotated ~ 0 if block ^1 ^ ^ minecraft:[color]_carpet unless block ~ ~-1 ~ #boomber:carpet_on_stairs/not_a_solid_ground run function boomber:carpet_on_stairs/event/place/[color]_carpet/found/left
execute if score #raycast bb.cs.var matches 0 rotated ~ 0 if block ^-1 ^ ^ minecraft:[color]_carpet unless block ~ ~-1 ~ #boomber:carpet_on_stairs/not_a_solid_ground run function boomber:carpet_on_stairs/event/place/[color]_carpet/found/right
execute if score #raycast bb.cs.var matches 0 rotated ~ 0 if block ^ ^1 ^ minecraft:[color]_carpet unless block ~ ~-1 ~ #boomber:carpet_on_stairs/not_a_solid_ground run function boomber:carpet_on_stairs/event/place/[color]_carpet/found/up
execute if score #raycast bb.cs.var matches 0 rotated ~ 0 if block ^ ^-1 ^ minecraft:[color]_carpet unless block ~ ~-1 ~ #boomber:carpet_on_stairs/not_a_solid_ground run function boomber:carpet_on_stairs/event/place/[color]_carpet/found/down