execute align xyz positioned ~0.5 ~0.5 ~0.5 if block ~ ~ ~ #boomber:carpet_on_stairs/carpetable unless entity @e[type=armor_stand, tag=carpet_on_stairs.renderer, distance=..0.3] run function boomber:carpet_on_stairs/event/place/[color]_carpet/check

execute as @s[distance=..5.5] if score #raycast bb.cs.var matches 0 positioned ^ ^ ^0.1 run function boomber:carpet_on_stairs/event/place/[color]_carpet/raycast